package views

import (
	"context"
	"io"
	"multi-tv/views/components"
	"multi-tv/views/layouts"
)

templ Index(initialGrid []int, columns int, rows int) {
	@layouts.Main(templ.ComponentFunc(func(ctx context.Context, w io.Writer) error {
		return components.Grid(initialGrid, columns, rows).Render(ctx, w)
	}))
}
