{{define "grid_structure"}}
<div id="iframeContainer" class="iframe-container" ondrop="drop(event)" ondragover="allowDrop(event)">
    {{range $i := .InitialGrid}}
        <div class="iframe-box" id="box{{$i}}">
            <div class="input-container">
                <input type="text" id="url{{$i}}" placeholder="Enter YouTube URL" class="form-control">
                <button onclick="addChannel('box{{$i}}', 'url{{$i}}')" class="btn btn-primary add-button">+</button>
            </div>
        </div>
    {{end}}
</div>
{{end}}