{{define "content"}}
    {{range $i := .InitialGrid}}
        <div class="iframe-box" id="box{{$i}}">
            <input type="text" id="url{{$i}}" placeholder="Enter YouTube URL" class="form-control">
            <button onclick="addChannel('box{{$i}}', 'url{{$i}}')" class="btn btn-primary mt-2">Add</button>
        </div>
    {{end}}
{{end}}
